<div id="product-main" class="container">
    <div class="row">
        <div>전체 제품 = 재고 + 반품 + 판매 제품</div>
        <pre>
            제품 입력 간편하게 ->
             1. 모델명 선택, 색상 선택, 입고처 선택, 매장 선택 일련번호 입력
             2. 저장하면 일련번호만 지우고 나머지 값은 그대로.
        </pre>
        <pre>
            제품 이동 간편하게 ->
             1. 알뜰폰의 경우 여러 매장으로 보내므로
             2. 제품 이동 메뉴를 따로 넣음
             3. 위의 검색란은 그대로 두고
             4. 밑에는 이동할 매장 선택
             5. 이동 누르면 바로 이동 옆으로 슉
             6. 저장 누르면 완료
        </pre>
    </div>
</div>