<div id="product-main" class="container">
    <div class="row">
        <div class="page-header"><h3>업데이트 2.003</h3></div>
        <div class="well">
            <p>* 판매 현황에서 2.0 버전 업데이트 전의 입력 사항들은 상세내역 검색에서 고객 성명과 4147을 입력하면 검색 가능합니다.</p>
            <p>* 제품 다건 이관에서 매장명음 검색시 매치되는 모든 문자에 대해 검색합니다.</p>
        </div>
        <div class="page-header"><h3>업데이트 2.002</h3></div>
        <div class="well">
            <p>* 판매 현황에서 이름으로 검색시 과거 모든 데이터를 검색합니다.</p>
            <p>* <b>(주의!)이름으로 검색시 처리 속도를 높이기 위해 성부터 꼭 입력해주세요</b></p>
            <p>* 판매 수정에서 판매일과 이름만 수정할 수 있게 변경되었습니다. 나머지는 보안을 위해 판매 취소 후 재 등록 해주세요</p>
        </div>
        <div class="page-header"><h3>업데이트 2.001</h3></div>
        <div class="well">
            <p>* 판매 현황 및 반품 현황이 최근 판매(반품)일 기준으로 변경되었습니다.</p>
            <p style="color:#428bca;">* <b>판매</b>시 <b>전화번호(PN으로)</b> <b>주민번호(Memo에 통합)</b>가 변경되었습니다.</p>
            <p>* 판매 현황에서 고객명이 가운데 이름이 *로 표시됩니다. <b>검색은 정확한 이름으로 하셔야 합니다.</b></p>
            <p>* 검색창의 검색 순서를 조정하였습니다</p>
            <p>* <b>인터넷 익스플로러 10 버전 이상에서 판매 및 반품 현황이 제대로 표시되지 않던 문제 수정</b></p>
        </div>
        <div class="page-header"><h1>2.0 주요 변화 사항</h1></div>
        <div class="well">
            <h4>일반폰과 알뜰폰 구분</h4>
            <p>* 알뜰폰의 매장 선택 방법에 대한 좋은 의견이 있다면 보내주세요.</p>
        </div>
        <div class="well">
            <h4>대불 매장 이름 앞에 있던 '!'가 '@'로 바뀌었습니다.</h4>
            <p>** !는 (검색에서) 정상동작하지 않을 수 있으니 입력하지마세요.</p>
        </div>
        <div class="well">
            <h4>전체 제품 = 재고 + 반품 + 판매 제품</h4>
            <p>* 앞으로 반품은 반품으로 등록해주세요!</p>
        </div>
        <div class="well">
            <h4>제품 입력 간편하게 -></h4>
            <p>1. 모델명 선택, 색상 선택, 입고처 선택, 매장 선택 일련번호 입력</p>
            <p>2. 저장하면 일련번호만 지우고 나머지 값은 그대로. <-- Clear를 선택하면, 모델명 색상, 입고처 등의 선택 사항도 초기화.</p>
        </div>
        <div class="well">
            <h4>제품 이동 간편하게 -></h4>
             <p>* 알뜰폰의 경우 여러 매장으로 보내므로 제품 이동 메뉴를 따로 넣음(재고 - 제품 다건 이동)</p>
            <pre>
                a. 첫번째 매장엔 현재 재고가 있는 매장 선택
                b. 두번째는 입고될 매장 선택
                c. (출고될 매장의) 목록에서 항목을 더블클릭하면 오른쪽으로 이동
                d. 저장 누르면 완료
            </pre>
        </div>
        <div class="page-header"><h1>차후 추가 사항</h1></div>
        <div class="well">
            <p>* 멤버 등급 설정</p>
            <p>* 매장 폐점 <- 제품이 존재하는 한 삭제가 안되도록 바뀌었기 때문에 매장을 정리할 경우 필요</p>
            <p>* 모델 단종 기능</p>
            <p>* 입고처 정리 기능</p>
            <p>* 정산</p>
        </div>
    </div>
</div>